<!-- import header -->
<%- include('layouts/header') %> 

<!-- import navbar -->
<%- include('layouts/nav') %>

<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h2>Ini Halaman About</h2>
        </div>
    </div>
</div>

<!-- import footer -->
<%- include('layouts/footer') %>
